.footer__contact{
  padding: 230px 0;
  text-align: center;
  font-size: 14px;
  font-family: $f-stack-spec-two;
  font-weight: $regular;
  color: $white;
}
.footer__tell{
font-size: 24px;
  a{
    text-decoration: none;
    color: $white;
  }
}
.wr-call-back{
  width: 400px;
  height: 450px;
  position: fixed;
  left: 0;
  right: 0;
  background: $white;
  z-index: 100;
  margin: -225px auto 0;
  padding: 50px 0;
}
.wr-input{
  height: 45px;
  border: 1px solid $white_gray;
  max-width: 325px;
  margin: 40px auto;
  input{
    padding-left: 10px;
    border: 0;
    outline: none;
    width: 100%;
    height: 100%;
  }
}
.thank_form{
  .modal_overlay{
    display: block;
  }
  .system-mess{
    display: block;
    text-align: center;
    opacity: 1;
  }
}