doctype html
html
    include ../includes/head.pug
    body
        main.main_wrapp
            include ../includes/header.pug
            section.section.section__banner
                .section_banner__block-info
                    h3.block-info__subtitle ЖИЛОЙ КОМПЛЕКС
                    h1.block-info__title ПОКРОВСКИЙ ПОСАд
                    .block-info__text
                        p В окружении известных достопримечательностей и подольских склонов Покровский Посад величественно возвышается на Кудрявском холме.
                        p С высоты жилых башен открываются панорамные виды на подольские склоны, а у подножья кипит активная деловая и культурная жизнь исторического центра Киева.
                        p Здесь вы выбираете – быть в центре городских событий или уединиться в тихом парковом сквере им. Алиева, прогуляться Андреевским спуском или же весело провести время с друзьями на Воздвиженке в ресторанах Димы Борисова.
            section.section.section__apartments
                .apartments__wrapp
                    h2.apartments__title Квартиры
                    .apartments__tab_wr
                        .apartments__tab-navigate
                            .tab-navigate__item 2-x Комнатная 74,7 кв.м
                            .tab-navigate__item 2-x Комнатная 74,9 кв.м
                            .tab-navigate__item 3-x Комнатная 92,9 кв.м
                            .tab-navigate__item 3-x Комнатная 94,1 кв.м
                            .tab-navigate__item 3-x Комнатная 99,4 кв.м
                            .tab-navigate__item 3-x Комнатная 101,5 кв.м
                    .apartments__tab-content_wr
                        .apartments__tab-content.active
                            .apartments__slick-wr
                                .apartments-slider
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic2.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic3.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic4.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic1.jpg')")
                                .slider-nav
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic2.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic3.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic4.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic1.jpg')")
                            .apartments__decription
                                h4.decription__title 2-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 74,7 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 40,8 кв.м
                                        .flex-cols 10,3 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 16,9 кв.м
                                        .flex-cols 25 кв.м
                                    .flex-rows
                                        .flex-col Спальня
                                        .flex-col Санузел
                                    .flex-rows
                                        .flex-cols 15,8  кв.м
                                        .flex-cols 6,3 кв.м
                                    .flex-rows
                                        .flex-col Спальня
                                        .flex-col Балкон
                                    .flex-rows
                                        .flex-cols 15,8  кв.м
                                        .flex-cols 0,4 кв.м
                                    .decription__info Дизайнерский ремонт, современная мебель и бытовая техника бизнес-класса, камин, закрытая охраняемая территория, подземный паркинг.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                        .apartments__tab-content
                            .apartments__slick-wr
                                    .apartments-slider
                                        .slick-slider__item(style="background-image: url('../images/74.9/pic2.jpg')")
                                        .slick-slider__item(style="background-image: url('../images/74.9/pic3.jpg')")
                                        .slick-slider__item(style="background-image: url('../images/74.9/pic4.jpg')")
                                        .slick-slider__item(style="background-image: url('../images/74.9/pic1.png')")
                                    .slider-nav
                                        .slider-nav__item(style="background-image: url('../images/74.9/pic2.jpg')")
                                        .slider-nav__item(style="background-image: url('../images/74.9/pic3.jpg')")
                                        .slider-nav__item(style="background-image: url('../images/74.9/pic4.jpg')")
                                        .slider-nav__item(style="background-image: url('../images/74.9/pic1.png')")
                            .apartments__decription
                                h4.decription__title 2-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 74,9 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 41,5 кв.м
                                        .flex-cols 7,0 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 17,0 кв.м
                                        .flex-cols 25,6 кв.м
                                    .flex-rows
                                        .flex-col Спальня
                                        .flex-col Санузел
                                    .flex-rows
                                        .flex-cols 15,9 кв.м

                                        .flex-cols 6,0 кв.м
                                    .flex-rows
                                        .flex-col Гардероб
                                        .flex-col Балкон
                                    .flex-rows
                                        .flex-cols 3,0 кв.м
                                        .flex-cols 0,4
                                    .decription__info Дизайнерский ремонт, современная мебель и бытовая техника бизнес-класса, камин, закрытая охраняемая территория, подземный паркинг.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                        .apartments__tab-content
                            .apartments__slick-wr
                                .apartments-slider
                                    .slick-slider__item(style="background-image: url('../images/99.4/pic1.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/99.4/pic2.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/99.4/pic3.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/99.4/pic4.jpg')")
                                .slider-nav
                                    .slider-nav__item(style="background-image: url('../images/99.4/pic1.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/99.4/pic2.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/99.4/pic3.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/99.4/pic4.jpg')")
                            .apartments__decription
                                h4.decription__title 2-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 92,9 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 70,0 кв.м
                                        .flex-cols 8,9 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 13,8 кв.м
                                        .flex-cols 34,6 кв.м

                                    .flex-rows
                                        .flex-col Детская
                                        .flex-col Спальня
                                    .flex-rows
                                        .flex-cols 15  кв.м
                                        .flex-cols 20,4 кв.м

                                    .flex-rows
                                        .flex-col Санузел 1
                                        .flex-col Санузел 2
                                    .flex-rows
                                        .flex-cols 2,1 кв.м
                                        .flex-cols 6,3 кв.м
                                    .flex-rows
                                        .flex-col Балкон
                                        .flex-cols
                                    .flex-rows
                                        .flex-cols 0,4 кв.м
                                        .flex-cols

                                    .decription__info Дизайнерский ремонт, панорамный вид, встроенная кухня с элитной бытовой техникой, шкафы-купе, мебель и техника ведущих мировых производителей, кондиционеры, 2 санузла.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                        .apartments__tab-content
                            .apartments__slick-wr

                                .apartments-slider
                                    .slick-slider__item(style="background-image: url('../images/94.1/pic2.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/94.1/pic3.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/94.1/pic4.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/94.1/pic1.jpg')")
                                .slider-nav
                                    .slider-nav__item(style="background-image: url('../images/94.1/pic2.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/94.1/pic3.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/94.1/pic4.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/94.1/pic1.jpg')")
                            .apartments__decription
                                h4.decription__title 3-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 94,1 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 70 кв.м
                                        .flex-cols 8,9 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 13,8 кв.м
                                        .flex-cols 34,6 кв.м
                                    .flex-rows
                                    .flex-rows
                                        .flex-col Детская
                                        .flex-col Спальня
                                    .flex-rows
                                        .flex-cols 15  кв.м
                                        .flex-cols 20,4 кв.м

                                    .flex-rows
                                        .flex-col Санузел 1
                                        .flex-col Санузел 2
                                    .flex-rows
                                        .flex-cols 2,1 кв.м
                                        .flex-cols 6,3 кв.м
                                    .flex-rows
                                        .flex-col Балкон
                                        .flex-cols
                                    .flex-rows
                                        .flex-cols 0,4 кв.м
                                        .flex-cols
                                    .decription__info Дизайнерский ремонт, современная мебель и бытовая техника бизнес-класса, камин, закрытая охраняемая территория, подземный паркинг.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                        .apartments__tab-content
                            .apartments__slick-wr
                                .apartments-slider
                                    .slick-slider__item(style="background-image: url('../images/92.9/pic2.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/92.9/pic3.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/92.9/pic4.jpg')")
                                    .slick-slider__item(style="background-image: url('../images/92.9/pic1.jpg')")
                                .slider-nav
                                    .slider-nav__item(style="background-image: url('../images/92.9/pic2.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/92.9/pic3.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/92.9/pic4.jpg')")
                                    .slider-nav__item(style="background-image: url('../images/92.9/pic1.jpg')")
                            .apartments__decription
                                h4.decription__title 3-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 99,4 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 70,9 кв.м
                                        .flex-cols 6,1 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 12,0 кв.м
                                        .flex-cols 34,9 кв.м
                                    .flex-rows
                                        .flex-col Детская
                                        .flex-col Спальня
                                    .flex-rows
                                        .flex-cols 15  кв.м
                                        .flex-cols 21 кв.м
                                    .flex-rows
                                        .flex-col Санузел 1
                                        .flex-col Санузел 2
                                    .flex-rows
                                        .flex-cols 6 кв.м
                                        .flex-cols 4 кв.м
                                    .flex-rows
                                        .flex-col Балкон
                                        .flex-cols
                                    .flex-rows
                                        .flex-cols 0,4 кв.м
                                        .flex-cols
                                    .decription__info Дизайнерский ремонт, современная мебель и бытовая техника бизнес-класса, камин, закрытая охраняемая территория, подземный паркинг.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                        .apartments__tab-content
                            .apartments__slick-wr
                                .apartments-slider
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic2.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic3.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic4.png')")
                                    .slick-slider__item(style="background-image: url('../images/74.7/pic1.jpg')")
                                .slider-nav
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic2.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic3.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic4.png')")
                                    .slider-nav__item(style="background-image: url('../images/74.7/pic1.jpg')")
                            .apartments__decription
                                h4.decription__title 3-x Комнатная
                                .decription__content-wr
                                    .flex-row
                                        | Общая площадь
                                        span.square 101,5 кв.м
                                    .flex-rows
                                        .flex-col Жилая  площадь
                                        .flex-col Холл
                                    .flex-rows
                                        .flex-cols 70,0 кв.м
                                        .flex-cols 8,9 кв.м
                                    .flex-rows
                                        .flex-col Кухня
                                        .flex-col Гостинная
                                    .flex-rows
                                        .flex-cols 13,8 кв.м
                                        .flex-cols 34,6 кв.м
                                    .flex-rows
                                        .flex-col Детская
                                        .flex-col Спальня
                                    .flex-rows
                                        .flex-cols 15  кв.м
                                        .flex-cols 20,4 кв.м
                                    .flex-rows
                                        .flex-col Санузел 1
                                        .flex-col Санузел 2
                                    .flex-rows
                                        .flex-cols 2,1 кв.м
                                        .flex-cols 6,3 кв.м
                                    .flex-rows
                                        .flex-col Балкон
                                        .flex-cols
                                    .flex-rows
                                        .flex-cols 0,4 кв.м
                                        .flex-cols

                                    .decription__info Дизайнерский ремонт, современная мебель и бытовая техника бизнес-класса, камин, закрытая охраняемая территория, подземный паркинг.
                                    a(href="#call_back").open_modal.button_blue Обратная связь
                    .section_advantages
                            .fl-row
                                .section_advantages__box-img.one
                                    img(src="images/pre1.jpg")
                                h3.section_advantage__title ПРЕИМУЩЕСТВА КОМПЛЕКСА
                            .fl-row.top
                                .section_advantages__box-img.two
                                    img(src="images/pre2.jpg")
                                .section_advantages__text
                                    h4.text__title Гарантированная Безопасность
                                    p Красивы внутрений двор, детская площядка, магазины, рестораны и кафе
                                    h4.text__title Оформленная  инфраструктура
                                    p Система видеонаблюдения на территории, три контрольно-пропускных пункта, огражденная, охраняемая территория
                                    h4.text__title Удобное  расположение
                                    p Рядом парк им. Г. Алиева, 5 минут до ул. Крещатик, Рядом Покровский собор, готовый и заселенный комплекс премиум класса в центре города

                include ../includes/footer.pug




